* {
    margin: 0%;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0%;
    /* width: 100%; */
    /* background-color: black; */
    scroll-behavior: smooth;
    
}
.sucessprompt
{
    background-color: #d4edda; /* Light green background */
    color: #155724; /* Dark green text */
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #c3e6cb;
    text-align: center;
    margin: 20px 0;
}

body {
  
    height: 100%;
    background-color: black;

}
.marquee marquee
{
    /* margin: 2%; */
    color: #70041c;
    align-items: center;
    justify-content: center;
    font-size:3vh;
    font-weight: bold;
    
    
}
.marquee
{
    background-color: rgb(207, 108, 146);
    height: 5vh;
}


header {
    height: 10%;
    background-color: rgba(30, 9, 54, 0.877);

}


nav {
    position: sticky;
    top: 0%;
    justify-content:space-around;
    display: grid;
    align-items: center; 
    grid-template-columns: repeat(auto-fill, minmax(200px, 200px));
    grid-template-rows: 1fr;
    place-items: center;
    width: 100%;

     align-items: center; 
     background-color: transparent; 
    /* overflow: auto; */
    




}



main {
    /* min-height: 80vh; */
    /* background-color: aqua; */
    /* width: 100%; */

}

.nav-bar a {
    margin: 2px;
    /* border: 2px solid black; */
    text-align: center;
    font-family: Trattatello, fantasy;
    padding: 10px;
    font-size: larger;
    background-color: transparent;
    border-radius: 30% 25% 30% 20%;
    /* border-color: red yellow green blue; */
    color: rgb(235, 160, 12);
}

.nav-bar a:hover {
    background-color: rgb(89, 89, 129);
    color: antiquewhite;
}

.Copyright {
    width: 100%;
 
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(234, 235, 238);
    position: absolute;
    font-size: 20px;
    font-size: larger;
    height: 10vh;
    /*margin-top: 20px;*/
    background-color: rgba(30, 9, 54, 0.877);
    
}

footer {
    
    
   

}

.Pimage {
    /* border: 2px solid red; */
    /* grid-column-start: 3;
    grid-column-end: 5; */
    width: 60vh;
    margin: 23%;
    
    
}

.Pimage img {
    border-radius: 80% 80% 5% 80%;
    height: 50vh;
    width: auto;
    /* border: 2px solid white; */
    /* background-size: auto; */
    background-color: rgba(56, 7, 102, 0.568);
    transition: transform 2000ms;
    
    
}

.mainContainer {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-template-rows: 1fr;
    gap: 10px;
    padding: 10px;
    align-items:center;
    /* border: 2px solid rgb(218, 17, 17); */
    overflow:hidden;
    column-gap: 1%;
    min-height: 100vh;
    background-color: black;
    
    

}
/* .serr
{
  display: flex; 
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  margin: 40px;
  width: 100%;
} */
.services
{
    display: grid;
    border:2px solid black;
    grid-template-columns: repeat(auto-fill,200px);
    /* grid-template-columns: repeat(auto-fill,minmax(200px,1fr)); */
    row-gap: 30px;
    column-gap: 90px;
    background-color:black ;
    /* overflow: hidden; */
    height: 100%;
    /* width: 100%; */
    justify-content: center;
    align-items: center;
    /* padding: 0% auto; */
    
    /* transition: transform 200ms; */
    

}
.resume 
{
    background-color: rgb(236, 32, 4);
    display: inline-flex;
    cursor: pointer;
    border-radius:  45% 45% 45% 45%;
    box-shadow: 2px 3px 4px rgb(7, 214, 118) ;
    transition-duration: 2s;

    
    
}
.resume:hover
{
    transform: scale(1.09);
    box-shadow: 2px -4px 4px rgb(178, 223, 14) ;
    /* background-color: blue; */

}

.resume button{
    background-color:rgb(236, 32, 4);
    border-style: none;
    color: rgb(230, 231, 228);
    font-size: large;
    font-weight: 800;
    cursor: pointer;
    border-radius: 40% 40% 40% 40% / 80% 0% 70% 0%;
    margin: 2px;
    

}
@media(width>=62rem)
{
    .services
    {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100vh;
         transform: none; 
        overflow: hidden;
    }
    .services .box
    {
        height: 50vh;
        width: 50vh;
        margin-left: 10px;
        margin-right: 10px;
    }
    .tittle
    {
        height: 10vh;
        
    }
   
    
}
@media(width<62rem)
{
    .services
    {
        display: grid;
    }
    .services .box
    {
        height: 40vh;
        width: auto;
    }
    .tittle
    {
        height: 8vh;
    }
}
@media (width>= 50rem)
{

    nav {
        display: flex;
        justify-content: space-around;
        
        
        
    }
}

.services .box{
/* border: 2px solid blue; */
/* height: 200px;
width: 200px; */
/* background-color: rgb(227, 235, 235); */
border-radius: 12%;
display: flex;
justify-content:center ;
align-items: center;
/* margin: 10px; */

}
.service
{
    height: 100%;
    overflow-wrap: hidden;

}

.mainContainer div
{
    /* padding: 10px; */
    /* margin-left: 50px; */
    /* overflow: visible; */
}
.info
{
    /* border: 2px solid ; */
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 37px;
    text-align: justify;
    margin-left: 50px;
    
    /* max-height: max-content(80vh,auto); */
    color: rgb(189, 23, 125);
    
}
info span{
    
    
    
}
.Uma
{
    text-shadow: 1px 1px 1px rgb(238, 223, 10);
    /* text-align: justify; */
    
    color: rgb(233, 194, 19);
    text-decoration: none;
    font-size: larger;
}
.namaskar
{
    text-shadow: 1px 1px 1px rgb(196, 238, 10);   
    color: rgb(25, 163, 20);
    text-decoration: none;
    font-size: xx-large;
}  
.sewa{
    /* text-shadow: 1px 1px 1px rgb(196, 238, 10); */
   
    
    color: rgba(155, 138, 231, 0.911);
    text-decoration: none;
    font-size: large;
}
.Pimage img:hover{
    transform: scale(1.09);
    cursor: pointer;
    box-shadow: 5px 2px 2px 2px rgb(10, 216, 72);
}


.service h1{
    width: 100%;
    color: rgb(235, 160, 12);
    text-align: center;
    font-family: cursive;
    background-color: black;
    
}
.card:hover
{
    cursor: pointer;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}

.card
{
    width: 100%;
    height: 90%;
    position: relative;
    transition: transform 2000ms;
    overflow-wrap: hidden;
    margin-bottom: 10%;


}
.front,.back
{
    height: 100%;
    width: 100%;
    
    position: absolute;
    backface-visibility: hidden;
    /* border-color: 1px solid white; */
    box-shadow: 5px 0px 10px 0.1px red;
}
.front 
{
   
    background-size: cover;
    background-position: center;
    
}
.image-fit
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
#uiux 
{
    
    /* overflow: hidden; */
    /* background-image: url(/Img/Hindu\ Wedding.webp); */
    /* background-color:rgba(194, 195, 197, 0.89); */

}
#web{
background-image: url(/Img/bratabanda.webp);
}
#desk{
    background-image: url(/Img/jyotishSewa.jpg);
    background-color: aliceblue;
}
#android{
    background-image: url(/Img/kundali.webp);
}
.back{
    transform: rotateY(180deg);
    font-size: medium;
    text-align: justify;
    padding: 3px;

    /* font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family: fantasy;
    color: rgb(3, 14, 14);
    background-color: #d1c7bd;
    
}
.contact
{
    height:100vh ;

}
#contactme
{
    display: flex;
    justify-content: center;
    /* margin: 20px; */
    background-color: black;
    font-size: 20px;
    padding: 12px;
    font-family: cursive;
    font-weight: bolder;
    color: antiquewhite;
    
}
#contactme
{
    box-shadow: 2px 4px 2px 2px rgb(216, 101, 101) ;
   color: rgb(235, 160, 12)
}
.contactinfo
{
    display: grid;
    /* border: 2px solid green; */
    grid-template-columns: 2fr 1fr;
    

}
@media(width<35rem)
{
    .contactinfo
    {
        display: grid;
        /* background-color: aqua; */
        grid-template-columns: auto;
        width: 100%;
        margin-top: 2%;
    }
}
.inputinfo
{

height: 90vh;
/* border: 2px solid black; */
/* background: #eff4fd; */

}
.inputinfo form
{
    display: grid;
    /* padding: 2%; */
    row-gap: 20px;
}
.inputinfo span
{
    font-family: cursive;
    color: red;
    font-size: large;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.inputinfo form input
{
    margin: 5%;
    padding-top: 9px;
    height: 6vh;
    width: 80%;
   font-style: italic;
   font-size: large;
   border: none;
   outline: none;
   border-radius: 5%;
    
    
    
}
#button
{
    padding: 5px;
    background-color: rgb(100, 42, 42);
    color: rgb(194, 185, 176);
    font-size: large;
    width:50%;
    border-radius: 50%;
    font-weight: 700;
    font-size: larger;
    height: 60px;
    box-shadow: 1px 2px 5px 4px rgb(216, 133, 10);
    cursor: pointer;
}
#message
{
    /* height: 30vh; */
}

.intro{
color: white;
font-size: x-large;
font-weight: 700;
font-family:  'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
margin: 2vh;
text-align: justify;

}
.row
{
    display: grid;
    
    gap: 20px;
}
.rowOne,.rowTwo,.rowThree
{
    height: 60px;
    /* border: 2px solid greenyellow; */
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
   


}
.rowinfo
{
    color: #d1c7bd;
    margin: 2%;
    font-size: larger;
    font-weight: 700;
}
.rowinfo .head
{
    font-size: larger;
}
.subtitle
{
    font-size: smaller;
    color: rgb(83, 189, 22);
}
.head{
color: rgb(243, 138, 10);
}

.box
{
    display:grid;
    flex-direction: column;
    text-align: justify;
    /* overflow: hidden; */
    
}
.tittle
{
    color: #3207f1;
    font-size: x-large;
    
    
}



